@media only screen and (max-width:1000px) {
    :root {
    --darkest_purple: #310055;
    --darker_purple: #3C0663;
    --dark_purple: #4A0A77;
    --md_purple: #5A108F;
    --medium_purple: #6818A5;
    --ml_purple: #8B2FC9;
    --light_purple: #AB51E3;
    --lighter_purple: #BD68EE;
    --lightest_purple: #D283FF;
    --white: #DC97FF;
  }
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 1rem;
  }

  body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    color: #fff;
    background-color: var(--dark_purple);
  }

  .container::-webkit-scrollbar {
    display: none;
    width: 1rem;
    border-radius: 0.5rem;
  }

  .container::-webkit-scrollbar-track {
    display: none;
    background-color: var(--darkest_purple);
    border-radius: 0.5rem;
  }

  .container::-webkit-scrollbar-thumb {
    display: none;
    background-color: var(--md_purple);
    border-radius: 0.5rem;
  }

  html,
  body {
  scroll-snap-type: none;
  }

  section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    scroll-snap-align: start;
    background-color: var(--dark_purple);
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--darkest_purple);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    overflow-y: hidden;
  }

  .home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }

  nav {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 37.5rem;
  }

  a {
    color: #fff;
    transition: 0.2s ease-in-out;
  }

  a:hover {
    color: var(--white);
  }

  .header-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .container {
    height: 90vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background-color: var(--darker_purple);
    border-radius: 0rem;
    transition: 0.2s;
    gap: 3vh;
  }

  .object {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 72vw;
    border-radius: 2rem;
    gap: 0vw;
  }

  .standard {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column;
  }

  .img {
    width: 64vw;
    height: 36vw;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }

  .description {
    width: 64vw;
    height: 36vw;
    background-color: var(--darkest_purple);
    border-radius: 2rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .description p {
    display: none;
  }

  .description p.know_more {
    display: flex;
    font-size: 0.75rem;
  }
  
  .description ul {
    display: none;
  }

  #timeline {
    background-color: var(--darker_purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .timeline-container {
    width: 100%;
    max-width: 500px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    gap: 2vh;
  }

  .timeline-container h2 {
    font-size: 2.5rem;
  }
  
  .timeline-item {
    display: flex;
    flex-direction: row;
  }
  
  .timeline-date {
    background-color: var(--medium_purple);
    color: #fff;
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Bogart', sans-serif;
    border-radius: 2vh;
    margin-right: 20px;
    pointer-events: auto;
  }
  
  .timeline-content {
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: var(--darkest_purple);
    border-radius: 0vh;
    z-index: 1;
    padding: 3vh;
  }
  
  .timeline-content h3 {
    font-size: 3vh;
    font-weight: 700;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
  
  .timeline-content p {
    font-size: 2vh;
    line-height: 1.5;
  }

  .pop-up_background {
    display: none;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 0.2s ease-in-out;
  }

  .pop-up {
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: var(--darkest_purple);
    border-radius: 0vh;
    z-index: 1;
  }

  .active {
    display: flex;
    animation: pop-up 0.2s ease-out forwards;
  }

  .img-container {
    position: relative;
    height: 56.25vw;
    width: 100vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
  }

  .pop-up_img {
    position: relative;
    height: 56.25vh;
    width: 100vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .pop-up_text {
    position: relative;
    width: 100vw;
    height: 70vh;
    background-color: var(--darkest_purple);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .pop-up_description {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    position: relative;
    height: auto;
    width: 100vw;
    background-color: var(--darkest_purple);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2vh;
    overflow: auto;
  }

  .pop-up_description::-webkit-scrollbar {
    height: 0rem;
    width: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .pop-up_description::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    height: 0rem;
  } 

  .pop-up_description::-webkit-scrollbar-thumb {
    background-color: var(--md_purple);
    border-radius: 0.25rem;
  }

  #zero {
    background-image: url(img/80a31c1f557ef2bf3f0174cb5632eeff-rathaus.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

#zero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#foot {
  width: 100vw;
  height: 47.5vh;
  background-color: var(--darkest_purple);
  padding: 1.5vh;
}

#foot p {
  font-size: 1.5vh;
  max-width: 80%;
}

h2 {
  font-size: 3.5vh;
  overflow: hidden;
}

h1 {
  font-size: 11vh;
  color: #fff;
  position: relative; 
  cursor: pointer;
  transition: all 0.3s;
}

h1:active{
    color: var(--md_purple);
}

h1::after {
  display: none;
}


h1:hover::after {
  display: none;
  
}

h1:hover {
    color: #fff;
}

h1:not(:hover)::after {
  display: none;
}

a {
  text-decoration: none;
}

i.hamburger {
    display: flex;
    font-size: 1.5rem;
}

i.hamburger.fa-xmark {
    display: flex;
    font-size: 1.5rem;
}


.img-container.fa-xmark {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.fa-xmark:hover {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

@font-face {
    font-family: 'Bogart';
    src: url('font/Bogart-Medium-trial.ttf');
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes underline-reverse {
from {
    width: 100%;
}
to {
    width: 0;
}
}

@keyframes pop-up {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
}