  :root {
    --darkest_purple: #310055;
    --darker_purple: #3C0663;
    --dark_purple: #4A0A77;
    --md_purple: #5A108F;
    --medium_purple: #6818A5;
    --ml_purple: #8B2FC9;
    --light_purple: #AB51E3;
    --lighter_purple: #BD68EE;
    --lightest_purple: #D283FF;
    --white: #DC97FF;
  }
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans Mono', monospace;
  }

  body {
    height: 100%;
    overflow-y: hidden;
    color: #fff;
    background-color: var(--dark_purple);
  }

  .container::-webkit-scrollbar {
    width: 1rem;
    border-radius: 0.5rem;
  }

  .container::-webkit-scrollbar-track {
    background-color: var(--darkest_purple);
    border-radius: 0.5rem;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: var(--md_purple);
    border-radius: 0.5rem;
  }

  html,
  body {
  scroll-snap-type: none;
  }

  section {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    scroll-snap-align: start;
    background-color: var(--dark_purple);
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkest_purple);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5vh;
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    padding: 2rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 37.5rem;
  }

  a {
    color: #fff;
    transition: 0.2s ease-in-out;
  }

  a:hover {
    color: var(--white);
  }
  
  .know_more {
    color: var(--white);
    font-style: italic;
  }

  .header-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .container {
    height: 95vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  .background {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 62.5vw;
    background-color: var(--darker_purple);
    border-radius: 2rem;
    transition: 0.2s;
  }

  .object {
    display: flex;
    width: 56.25vw;
    height: 39vh;
    border-radius: 2rem;
    gap: 2vw;
  }

  .standard {
    flex-direction: row;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .img {
    width: 39vh;
    height: 39vh;
    border-radius: 2rem;
  }

  .img:hover {
    scale: 1.05;
    animation: img 0.2s ease-in-out;
  }

  .description {
    width: 100%;
    height: 39vh;
    background-color: var(--darkest_purple);
    border-radius: 2rem;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
  }

  .pop-up_background {
    display: none;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 0.2s ease-in-out;
  }

  .pop-up {
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    height: 58.5rem;
    width: 48rem;
    background-color: var(--darkest_purple);
    border-radius: 2rem;
    z-index: 1;
  }

  .active {
    display: flex;
    animation: pop-up 0.2s ease-out forwards;
  }

  .img-container {
    position: relative;
    height: 27rem;
    width: 48rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .pop-up_img {
    position: relative;
    height: 27rem;
    width: 48rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .pop-up_text {
    position: relative;
    height: 31.5rem;
    width: 48rem;
    background-color: var(--darkest_purple);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .pop-up_description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    height: 29.5rem;
    width: 48rem;
    background-color: var(--darkest_purple);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
    overflow: auto;
  }

  .pop-up_description::-webkit-scrollbar {
    height: 28rem;
    width: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .pop-up_description::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    height: 28rem;
  }

  .pop-up_description::-webkit-scrollbar-thumb {
    background-color: var(--md_purple);
    border-radius: 0.25rem;
  }

  #zero {
    background-image: url(img/80a31c1f557ef2bf3f0174cb5632eeff-rathaus.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

#zero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#foot {
  height: 47.5vh;
}

li {
  margin: 2vh;
}

h2 {
  font-family:'Bogart', sans-serif;
}

h1 {
  font-size: 8rem;
  color: #fff;
  position: relative; 
  cursor: pointer;
  transition: all 0.3s;
  font-family:'Bogart', sans-serif;
}


h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-in-out; 
}


h1:hover::after {
  background-color: var(--ml_purple);
  width: 100%;
  animation-name: underline;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
  

h1:hover {
    color: var(--ml_purple);
    transition: 0.3s ease-in-out;
}

h1:not(:hover)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ml_purple);
  animation-name: underline-reverse;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: none;
}

a {
  text-decoration: none;
}

i.hamburger {
  display: none;
}

.pop-up_icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.pop-up_icon:hover {
  color: var(--medium_purple);
  transition: all 0.2s ease-in-out;
}

@font-face {
    font-family: 'Bogart';
    src: url('font/Bogart-Medium-trial.ttf');
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes underline-reverse {
from {
    width: 100%;
}
to {
    width: 0;
}
}

@keyframes pop-up {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
